<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
  
 
  	<!-- 配置自动扫描的包 ,自动扫描前缀为com. Controller的包及其相关的子包下的所有的java文件，若扫描到有与spring相关的注解的类，则把这些类注册为spring的bean-->
  	<context:component-scan base-package="com.Controller" />
  	
  	
  
  	<!-- 注解驱动代替处理映射器与处理适配器 -->
	<mvc:annotation-driven/>
  
  	<!-- 配置视图解析器，如何把控制器（Controller）方法的返回值解析为物理视图 ,它会：“前缀”+返回值+“后缀” ，以拼串的方式，拼出要跳转的jsp视图名称-->
  	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
  		<property name="viewClass">  
            <value>org.springframework.web.servlet.view.InternalResourceView</value>  
        </property>  
        <property name="order" value="1"/>
  		<property name="prefix" value="/jsp/"></property>   <!-- prefix 前缀 -->
  		<property name="suffix" value=".jsp"/>				<!-- sufix 后缀 -->
  	</bean>
  
  	
	
	
	
	
	
	


  
 	
  	
	
  	
</beans>     